.button {
	//width: 99px;
	//height: 33px;
	color: black;
   font-size: 24px;
	//font-family: Helvetica Neue;
	//font-weight: bold;
	//margin: 30px;
	//line-height: 30px;
	//border-width: 1px;
	//border-style: solid;
	border-radius: 5px;
	//border-color: black;
	//text-align: center;
	//text-decoration: none;
	//display: inline-block;
	//padding: 5px;
   }

.button:hover{
    background-color: #eee;
}


.button[disabled]{
  //border: 3px solid #999999;
  //background-color: #cccccc;
  color: #dddddd;
}
/*******

.button:disabled,
.button[disabled]{
    color: lightgray
    font-size: 88px;
}
*******/
