<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>dropdown menu</title>
    <link rel="stylesheet" href="dropDownMenu.css">
    <script src="https://slexilData.artsrn.ualberta.ca/includes/jquery-3.6.3.min.js"></script>
    <script src="DropDownMenu.js"></script>
  </head>
  <body>
    <div id="menuDiv_1" style="margin: 30px;">
      <div class="dropdownMenu">
        <button id="topicsButton" class="menuButton">Linguistic Topics</button>
        <div id="topicsItems" class="menuItemsDiv">
          <div class="menuItem">IRR</div>
          <div class="menuItem">CTD</div>
          <div class="menuItem">CNTRPT</div>
        </div>
      </div>
    </div>
    <div id="menuDiv_2" style="margin: 30px;">
      <div class="dropdownMenu">
        <button id="treesButton" class="menuButton">Trees</button>
        <div id="treesItems" class="menuItemsDiv">
          <div class="menuItem">Hemlock</div>
          <div class="menuItem">Alder</div>
          <div class="menuItem">Doug fir</div>
          <div class="menuItem">Yew</div>
          <div class="menuItem">Cedar</div>
          <div class="menuItem">Alder</div>
          <div class="menuItem">Apple</div>
          <div class="menuItem">Ash</div>
          <div class="menuItem">Aspen</div>
          <div class="menuItem">Basswood</div>
          <div class="menuItem">Birch</div>
          <div class="menuItem">Buckeye</div>
          <div class="menuItem">Buckthorn</div>
          <div class="menuItem">California-laurel</div>
          <div class="menuItem">Catalpa</div>
          <div class="menuItem">Cedar</div>
          <div class="menuItem">Cherry</div>
          <div class="menuItem">Chestnut</div>
          <div class="menuItem">Chinkapin</div>
          <div class="menuItem">Cottonwood</div>
          <div class="menuItem">Cypress</div>
          <div class="menuItem">Dogwood</div>
          <div class="menuItem">Douglas-fir</div>
          <div class="menuItem">Elm</div>
          <div class="menuItem">Fir</div>
          <div class="menuItem">Filbert</div>
          <div class="menuItem">Sequoia</div>
          <div class="menuItem">Hawthorn</div>
          <div class="menuItem">Hazel</div>
          <div class="menuItem">Hemlock</div>
          <div class="menuItem">Honeylocust</div>
          <div class="menuItem">Holly</div>
          <div class="menuItem">Horsechestnut</div>
          <div class="menuItem">Incense-cedar</div>
          <div class="menuItem">Juniper</div>
          <div class="menuItem">Larch</div>
          <div class="menuItem">Locust</div>
          <div class="menuItem">Madrone</div>
          <div class="menuItem">Maple</div>
          <div class="menuItem">Mountain-ash</div>
          <div class="menuItem">Mountain-mahogany</div>
          <div class="menuItem">Oak</div>
          <div class="menuItem">Oregon-myrtle</div>
          <div class="menuItem">Pear</div>
          <div class="menuItem">Pine</div>
          <div class="menuItem">Plum</div>
          <div class="menuItem">Poplar</div>
          <div class="menuItem">Redcedar/Arborvitae</div>
          <div class="menuItem">Redwood</div>
          <div class="menuItem">Russian-olive</div>
          <div class="menuItem">Spruce</div>
          <div class="menuItem">Sweetgum</div>
          <div class="menuItem">Sycamore</div>
          <div class="menuItem">Tanoak</div>
          <div class="menuItem">True Cedar</div>
          <div class="menuItem">True Fir</div>
          <div class="menuItem">Walnut</div>
          <div class="menuItem">White-cedar</div>
          <div class="menuItem">Willow</div>
          <div class="menuItem">Yellow-poplar</div>
          <div class="menuItem">Yew</div>
        </div>
      </div>
    </div>
  </body>
</html>