/* Unit svh reflects the smallest possible viewport height that is visible
 * to the user. The smallest possible viewport height excludes all interface
 * elements by the user agent.
 * By default, the vh unit includes the address bar that comes with a mobile browser.
 * The svh represents the viewport height when the address bar UI hasn’t shrunk
 * its size yet.
 * "100svh" means 100% of this small viewport height
 */

body, html {
	font-family: "New York Times-Roman";
	font-size: 22px;
	height: 100%;
	}

#mainDiv{
   display: block;
   padding: 10px;
   height: calc(100svh - 60px);
   //border: 1px solid magenta;
	margin-right: 5px;
   overflow-y: hidden;
   overflow-x: hidden;
<<<<<<< HEAD
=======
   }

#aboutBoxDialog{
   border-radius: 10px;
   width: 70%;
>>>>>>> 204d3ffe15126ed9650bd983595a779b24129ea1
   }
#aboutBoxDialog::backdrop {
   animation: aboutBoxDialogBackgroundFade 1s ease forwards;
   }
@keyframes aboutBoxDialogBackgroundFade{
    0%{background-color: transparent;}
  100%{background-color: rgb(0 57 24 / 0.6);}
  }


<<<<<<< HEAD
#aboutBoxDialog{
   border-radius: 10px;
   width: 70%;
   }
#aboutBoxDialog::backdrop {
   animation: aboutBoxDialogBackgroundFade 1s ease forwards;
=======
#mediaPlayerAndControlsDiv{
   background-color: white;
   height: fit-content;
   width: 99%;
   padding: 5px;
   border: 1px solid blue;
   margin: 2px;
   }

#videoPlayer{
  height: 150;
  }

#videoSizeControllerDiv{
   display: flex;
   background: white;
   border: 1px  solid black;
	height: fit-content;
   padding: 5px;
>>>>>>> 204d3ffe15126ed9650bd983595a779b24129ea1
   }
@keyframes aboutBoxDialogBackgroundFade{
    0%{background-color: transparent;}
  100%{background-color: rgb(0 57 24 / 0.6);}
  }

#playerDivWithOptionalButtons{
   display: flex;
   align-items: center;
   background: white;
	padding: 5px;
   //border: 2px dashed orange;
   }

<<<<<<< HEAD
#mediaPlayerAndControlsDiv{
   background-color: white;
   height: fit-content;
   width: 99%;
   padding: 5px;
   border: 1px solid blue;
   margin: 2px;
   }

#videoPlayer{
  height: 150;
  }

#videoSizeControllerDiv{
   display: flex;
   background: white;
   border: 1px  solid black;
	height: fit-content;
   padding: 5px;
   }

#playerDivWithOptionalButtons{
   display: flex;
   align-items: start;
   //align-items: center;
   background: white;
	padding: 5px;
   //border: 2px dashed orange;
   }

#audioPlayerDiv{
    margin-right: 10px;
    margin-top: 5px;
   //border: 2px dashed green;
   }

#videoSizeSelectorForm{
	//background-color: yellow;
   height: fit-content;
	width: 300px;
   }

#videoSizeLabel{
   font-size: 24px;
   margin-right: 5px;
   }

#optionalButtonsDiv{
    margin-left: auto;
   }

#pageTitle{
  font-size: 24px;
  padding-right: 20px;
  }


.extraInfoButtons{
   margin-bottom: 0px;
   margin-right: 10px;
   margin-left: auto;
   height: 35px;
   border-radius: 10px;
   font-size: 18px;
   }

#otherControlsDiv{
   background-color: Cornsilk;
   height: fit-content;
   border: 1px solid orange;
   border-radius: 5px;
   padding: 10px;
   margin: 5px;
   display: none;
   }

=======
#videoSizeSelectorForm{
	//background-color: yellow;
   height: fit-content;
	width: 300px;
   }

#videoSizeLabel{
   font-size: 24px;
   margin-right: 5px;
   }

#optionalButtonsDiv{
    margin-left: auto;
   }

#pageTitle{
  font-size: 24px;
  padding-right: 20px;
  }


.extraInfoButtons{
   margin-bottom: 0px;
   margin-right: 10px;
   margin-left: auto;
   height: 35px;
   border-radius: 10px;
   font-size: 18px;
   }

#otherControlsDiv{
   background-color: Cornsilk;
   height: fit-content;
   border: 1px solid orange;
   border-radius: 5px;
   padding: 10px;
   margin: 5px;
   display: none;
   }

>>>>>>> 204d3ffe15126ed9650bd983595a779b24129ea1

#textAndAnnoDiv{
   display: flex;
   }

#textDiv{
   background-color: white;
   border: 1px solid black;
	border-radius: 5px;
   padding: 0px;
   margin: 2px;
   height: calc(100vh - 550px);
   width: 90%;
   overflow-y: scroll;
   overflow-x: hidden;
   font-size: 24px;
   flex: 3;
   //border: 2px solid brown;
   }

#annoDiv{
   width: 10%;
   //height: fit-content;
   display: inline-block;
   flex: 2;
	padding: 10px;
   border: 2px solid blue;
	display: none;
   overflow-y: auto;
   }

#topControlsDiv{
	display: block;
   }

#playbackSpeedLabel, #printSizeLabel{
   font-size: 24px;
   }

#playbackSpeedReadout{
   width: 35px;
   height: 24px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 2px;
   margin: 3px;
   //border: 1px solid green;
   font-size: 20px;
   display: inline-block;
   }


#tierControlsDiv{
   width: 100%
   margin: 5px;
   // //border: 3px dotted  blue;
   //border-radius: 10px;
   padding: 20px;
   padding-top: 0px;
   padding-bottom: 3px;
   display: none;
   font-size: 32px;
   display: inline-block;
   }

#tiersLabelDiv{
   font-size: 24px;
   display: inline-block;
	padding: 5px;
	//border: 1px solid red;
	//border-radius: 5px;
   }
#tiersCheckBoxesDiv{
   margin: 20px;
	padding: 5px;
	font-size: 24px;
   display: inline-block;
	//border: 1px gray solid;
	//border-radius: 10px;
   }

.tierToggleCheckbox{
    margin-left: 20px;
    }

.line-wrapper {
  display: grid;
  width: 100% //fit-content;
  height: fit-content;
  overflow-x: auto;
  overflow-y: clip;
  grid-template-columns: 60px 1fr;
  grid-column-gap: 10px;
  //border: 3px dotted green;
  margin: 20px;
  margin-bottom: 10px;
  background: white;
}


.line-sidebar{
  //border: 1px solid gray;
  background: white;
  padding: 0px;
  padding-top: 4px;
  width: 50px;
  margin-top: 0px;
  margin-right: 10px;
  font-size: 24px;
  }

.line-content{
  width: fit-content;
  //width: 100%;
  height: 100%;
  //border: 3px solid red;
  margin: 0px;
  margin-bottom: 2px;
  overflow-wrap: word-wrap;
  overflow-y: auto;
  }

.current-line {
	background: #B6E8FF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}

.speech-tier{
  background-color: transparent;
  grid-template-columns: none;
  //border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  // font-size: 30px;
  text-align: left;
  vertical-align: bottom;
  margin-left: 5px;
  word-spacing: 20px;
  }

.freeTranslation-tier{
  //background-color: lightyellow;
  grid-template-columns: auto;
  //border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  //font-size: 30px;
  text-align: left;
  margin-left: 5px;
  //word-spacing: 20px;
  }

.secondTranscription-tier{
  //background-color: lightyellow;
  //grid-template-columns: auto;
  //border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  //font-size: 24px;
  text-align: left;
  margin-left: 5px;
  word-spacing: 20px;
  }

.gloss-tier{
  background-color: transparent;
  grid-template-columns: auto;
  //border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  //font-size: 20px;
  text-align: left;
  margin-left: 30px;
  word-spacing: 20px;
  }

.morpheme-tier {
  display: grid;
  width: fit-content;
  //border: 0px solid rgba(0, 0, 0, 0.8);
  margin: 5px;
  justify-content: flex-start;
  overflow-wrap: word-wrap;
  }

.morpheme-cell {
  //border: 1px solid lightgray;
  margin-bottom: 2px;
  padding: 3px;
  text-align: left;
  }

.grammatical-term {
	font-variant: small-caps;
	color: blue;
	}

sup {
	vertical-align:text-top; 
	font-size:75%; 
	}
sub {
	vertical-align:text-middle; 
	font-size:75%; 
	}

#aboutBox{
   border-radius: 10px;
   width: 60%;
	font-size: 24px;
   }
#aboutBoxDismissButton{
   margin-bottom: 0px;
   margin-left: auto;
   height: 35px;
   font-size: 24px;
   }
<<<<<<< HEAD

.playAudioSegmentButtonOld{
   font-size: 20px;
   margin:0 auto;
   display:block;
   }

=======

.playAudioSegmentButtonOld{
   font-size: 20px;
   margin:0 auto;
   display:block;
   }

>>>>>>> 204d3ffe15126ed9650bd983595a779b24129ea1
.playAudioSegmentButton:hover{
    background-color: lightcyan;
    }

.playAudioSegmentButton{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid;
    border-radius: 8px;
    text-decoration: none;

    color: #333;
    background-color: #fff;
    border-color: #ccc;
    }

.slexilTooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

.slexilTooltip .slexilTooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 1px solid gray;
  position: absolute;
  z-index: 1;
}

.slexilTooltip:hover .slexilTooltipText {
   visibility: visible;
   top: 20px;
   left: 70%;
   transition-delay: 1s;
   transition-property: visibility;
   }

.standardSlexilButton{
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    }

.standardSlexilButton:hover{
    background-color: #DDDDDD;
    }
