<!DOCTYPE html> 
<html lang="en"> 
  
<head>
  <meta charset="utf-8"/>
  <title>8-audioPlayer</title>
  <script src='https://slexilData.artsrn.ualberta.ca/includes/jquery-3.6.3.min.js'></script>
  <link rel="stylesheet" href="slexilNew.css">


</head>
<body>
  <div id="mainDiv">

	 <!-- for audio, the showOtherControls button is placed to its right -->
	 <!-- for video, that button is placed above, right of  the size controller -->
	 
    <div id="mediaPlayerAndControlsDiv">
       <div id="videoSizeControllerDiv"> </div id="videoSizeControllerDiv">
       <div id="playerDivWithOptionalButton">
          </div id="playerDivWithOptionalButton">
       </div id="mediaPlayerAndControlsDiv">

    <div id="otherControlsDiv">
       <label id="playbackSpeedLabel">Playback Speed &nbsp;</label>
       <input type="range" min="0.25" max="1.25" value="1.0" step="0.25" id="speedSelector" name="speedSelector" />
       <div id="playbackSpeedReadout">1.0</div>
       <label id="printSizeLabel">Print Size &nbsp;</label>
       <input type="range" min="0.2" max="4.0" value="1.4" step="0.1" id="fontSizeSlider" name="fontSizeSlider" />

       <div id="tierControlsDiv" >
         <div id="tiersLabelDiv">Tiers: </div>
             <div id="tiersCheckBoxesDiv">
                <form action="">
                   <div>
                      <input type="checkbox" class="tierToggleCheckbox" id="speech-toggle" value="speech" checked name="speech-toggle" />speech
                      <input type="checkbox" class="tierToggleCheckbox" id="translation-toggle" value="translation" checked name="translation-toggle" />translation
                      <input type="checkbox" class="tierToggleCheckbox" id="morphemes-toggle" value="morphemes"  name="morphemes-toggle" />analysis
                      </div>
                   </form>
                </div id="tiersCheckBoxesDiv">
          </div id="tiersControlDiv">
    </div id="otherControlsDiv">

    <div id="textDiv">
       <div class="line-wrapper" id="1">
       <div class="line-sidebar">   1)
              <button onclick="playSample(1, 0, 5942)">🔈
              </button>
            </div>
            <div class="line-content" id="1">
              <div class="line">
                <span class="speech-tier">ʔal kʷi tu, ʔal kʷi tuhaʔkʷ
                  gʷəl xʷiʔ gʷətusləx̌il.
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns:6ch 6ch 7ch 6ch 6ch 17ch 8ch 7ch 20ch ;">
                <div class="morpheme-cell">ʔal
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">tu=
                </div>
                <div class="morpheme-cell">ʔal
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">tu=haʔkʷ
                </div>
                <div class="morpheme-cell">gʷəl
                </div>
                <div class="morpheme-cell">xʷiʔ
                </div>
                <div class="morpheme-cell">gʷə=tu=s–ləx̌–il
                </div>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns:6ch 6ch 7ch 6ch 6ch 17ch 8ch 7ch 20ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">at
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">at
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past=long.time
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">sconj
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">neg
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">sbj=
                    </span>
                    <span class="grammatical-term">past=daylight
                    </span>
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">In the distant past,
                there was no daylight.
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
          <div class="line-wrapper" id="2">
            <div class="line-sidebar">   2)
              <button onclick="playSample(2, 5943, 10469)">🔈
              </button>
              <!-- sidebarHookLine_2 -->
            </div>
            <div class="line-content" id="2">
              <div class="line">
                <span class="speech-tier">tiʔəʔ swatixʷtəd gʷəl
                  tasbəsad ʔal kʷi tuhaʔkʷ
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 8ch 13ch 8ch 17ch 6ch 6ch 17ch ;">
                <div class="morpheme-cell">tiʔəʔ
                </div>
                <div class="morpheme-cell">swatixʷtəd
                </div>
                <div class="morpheme-cell">gʷəl
                </div>
                <div class="morpheme-cell">tu=?as–bəsad
                </div>
                <div class="morpheme-cell">ʔal
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">tu–haʔkʷ
                </div>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 8ch 13ch 8ch 17ch 6ch 6ch 17ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">prox
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">land
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">sconj
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past
                    </span>=
                    <span class="grammatical-term">stat–dark
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">at
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past=long.time
                    </span>
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">The land, it was dark
                in the distant past.
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
          <div class="line-wrapper" id="3">
            <div class="line-sidebar">   3)
              <button onclick="playSample(3, 12407, 17351)">🔈
              </button>
              <!-- sidebarHookLine_3 -->
            </div>
            <div class="line-content" id="3">
              <div class="line">
                <span class="speech-tier">tudxʷadhadəxʷ tiʔəʔ
                ʔaciɬtalbixʷ.  gʷʔəsčaləxʷ kʷi gʷədəxʷkʷədxʷ čəɬ kʷi
            sləx̌il.
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 28ch 8ch 15ch 17ch 6ch 20ch 9ch 6ch 11ch ;">
                <div class="morpheme-cell">tu=dxʷ–had–had=əxʷ
                </div>
                <div class="morpheme-cell">tiʔəʔ
                </div>
                <div class="morpheme-cell">ʔaciɬtalbixʷ
                </div>
                <div class="morpheme-cell">gʷʔəs–čal=əxʷ
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">gʷə=dəxʷ=kʷəd–dxʷ
                </div>
                <div class="morpheme-cell">čəɬ
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">sləx̌il
                </div>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 28ch 8ch 15ch 17ch 6ch 20ch 9ch 6ch 11ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past=
                    </span>
                    <span class="grammatical-term">ctd–
                    </span>
                    <span class="grammatical-term">dstr–discuss=now
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">prox
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">people
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">stat–how=now
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">sbj=
                    </span>
                    <span class="grammatical-term">adnm=take–
                    </span>
                    <span class="grammatical-term">dc
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">1pl.
                    </span>
                    <span class="grammatical-term">po
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">daylight
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">The people talked it
                over. How can we manage to obtain the daylight?
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
          <div class="line-wrapper" id="4">
            <div class="line-sidebar">   4)
              <button onclick="playSample(4, 17746, 23000)">🔈
              </button>
              <!-- sidebarHookLine_4 -->
            </div>
            <div class="line-content" id="4">
              <div class="line">
                <span class="speech-tier">ʔaʔ kʷi sləx̌il ʔal kʷi
                  q’xʷul’gʷədxʷ gʷəl ʔəsčal kʷi gʷədəxʷkʷədxʷ čəɬ
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 11ch 6ch 11ch 6ch 6ch 17ch 8ch 11ch 6ch 20ch 9ch ;">
                <div class="morpheme-cell">ʔaʔ
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">sləx̌il
                </div>
                <div class="morpheme-cell">ʔal
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">q’xʷ•ul’gʷədxʷ
                </div>
                <div class="morpheme-cell">gʷəl
                </div>
                <div class="morpheme-cell">ʔəs–čal
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">gʷə=dəxʷ=kʷəd–dxʷ
                </div>
                <div class="morpheme-cell">čəɬ
                </div>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 11ch 6ch 11ch 6ch 6ch 17ch 8ch 11ch 6ch 20ch 9ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">be.there
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">daylight
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">at
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">upstream•land
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">sconj
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">stat–how
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">sbj=
                    </span>
                    <span class="grammatical-term">adnm=take–
                    </span>
                    <span class="grammatical-term">dc
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">1pl.
                    </span>
                    <span class="grammatical-term">po
                    </span>
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">Daylight is up there
                in the upriver country but how can we manage to get it?
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
          <div class="line-wrapper" id="5">
            <div class="line-sidebar">   5)
              <button onclick="playSample(5, 24006, 26917)">🔈
              </button>
              <!-- sidebarHookLine_5 -->
            </div>
            <div class="line-content" id="5">
              <div class="line">
                <span class="speech-tier">tuhuyucutəxʷ tiʔəʔ səsaliʔ
                  ləgʷləgʷəb
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 25ch 8ch 10ch 14ch ;">
                <div class="morpheme-cell">tu=huyu–t–sut=əxʷ
                </div>
                <div class="morpheme-cell">tiʔəʔ
                </div>
                <div class="morpheme-cell">səsaliʔ
                </div>
                <div class="morpheme-cell">ləgʷ–ləgʷəb
                </div>
              </div>
              <div class="morpheme-tier"
                     style="grid-template-columns: 25ch 8ch 10ch 14ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past=made–
                    </span>
                    <span class="grammatical-term">ics–
                    </span>
                    <span class="grammatical-term">refl=now
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">prox
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">two:
                    <span class="grammatical-term">hmn
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">dstr–youth
                    </span>
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">These two youths
                prepared themselves.
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
          <div class="line-wrapper" id="6">
            <div class="line-sidebar">   6)
              <button onclick="playSample(6, 27192, 28928)">🔈
              </button>
              <!-- sidebarHookLine_6 -->
            </div>
            <div class="line-content" id="6">
              <div class="line">
                <span class="speech-tier">tuc’agʷacutəxʷ
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 27ch ;">
                <div class="morpheme-cell">tu=c’agʷa–t–sut=əxʷ
                </div>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 27ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past=washed–
                    </span>
                    <span class="grammatical-term">ics–
                    </span>
                    <span class="grammatical-term">refl=now
                    </span>
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">They bathed.
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
          <div class="line-wrapper" id="7">
            <div class="line-sidebar">   7)
              <button onclick="playSample(7, 29715, 35245)">🔈
              </button>
              <!-- sidebarHookLine_7 -->
            </div>
            <div class="line-content" id="7">
              <div class="line">
                <span class="speech-tier">tuhuyucut həlgʷəʔ dxʷʔal
                  sxʷəxʷaʔxʷəʔs gʷəsutəlawilsəlgʷəʔ
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 21ch 10ch 12ch 18ch 21ch 9ch ;">
                <div class="morpheme-cell">tu=huyu–t–sut
                </div>
                <div class="morpheme-cell">həlgʷəʔ
                </div>
                <div class="morpheme-cell">dxʷ–ʔal
                </div>
                <div class="morpheme-cell">s=xʷəxʷaʔxʷəʔ=s
                </div>
                <div class="morpheme-cell">gʷə=s=ʔu–təlawil=s
                </div>
                <div class="morpheme-cell">əlgʷəʔ
                </div>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 21ch 10ch 12ch 18ch 21ch 9ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past=made–
                    </span>
                    <span class="grammatical-term">ics–
                    </span>
                    <span class="grammatical-term">refl
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">pl
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">cntrpt–at
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">nm=swift=
                    </span>
                    <span class="grammatical-term">3po
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">sbj=
                    </span>
                    <span class="grammatical-term">nm=
                    </span>
                    <span class="grammatical-term">pfv–run=
                    </span>
                    <span class="grammatical-term">3po
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">pl
                    </span>
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">They prepared
                themselves in order to be swift as they run.
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
          <div class="line-wrapper" id="8">
            <div class="line-sidebar">   8)
              <button onclick="playSample(8, 35246, 40990)">🔈
              </button>
              <!-- sidebarHookLine_8 -->
            </div>
            <div class="line-content" id="8">
              <div class="line">
                <span class="speech-tier">tiʔəʔ qaw'qs ʔi tiʔəʔ
                  bibščəb kʷi tuhuyucut
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 8ch 9ch 7ch 8ch 14ch 6ch 21ch ;">
                <div class="morpheme-cell">tiʔəʔ
                </div>
                <div class="morpheme-cell">qaw'qs
                </div>
                <div class="morpheme-cell">ʔi
                </div>
                <div class="morpheme-cell">tiʔəʔ
                </div>
                <div class="morpheme-cell">bi–bəščəb
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">tu=huyu–t–sut
                </div>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 8ch 9ch 7ch 8ch 14ch 6ch 21ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">prox
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">raven
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">conj
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">prox
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">attn–mink
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past=made–
                    </span>
                    <span class="grammatical-term">ics–
                    </span>
                    <span class="grammatical-term">refl
                    </span>
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">The ones who prepared
                themselves were Raven and Little Mink.
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
          <div class="line-wrapper" id="9">
            <div class="line-sidebar">   9)
              <button onclick="playSample(9, 41000, 47686)">🔈
              </button>
              <!-- sidebarHookLine_9 -->
            </div>
            <div class="line-content" id="9">
              <div class="line">
                <span class="speech-tier">tut’ədalgʷiɬ gʷəl tux̌ʷ xʷiʔ
                uʔxʷ, tuʔaʔ tux̌ʷ xʷiʔ uʔxʷ ƛ’əlayʔ ʔə huyu
                  gʷəsəsaxʷəbabac
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 26ch 8ch 8ch 7ch 7ch 16ch 8ch 7ch 7ch 10ch 5ch 9ch 28ch ;">
                <div class="morpheme-cell">tu=t’əd•al•gʷiɬ
                </div>
                <div class="morpheme-cell">gʷəl
                </div>
                <div class="morpheme-cell">tux̌ʷ
                </div>
                <div class="morpheme-cell">xʷiʔ
                </div>
                <div class="morpheme-cell">uʔxʷ
                </div>
                <div class="morpheme-cell">tu=ʔaʔ
                </div>
                <div class="morpheme-cell">tux̌ʷ
                </div>
                <div class="morpheme-cell">xʷiʔ
                </div>
                <div class="morpheme-cell">uʔxʷ
                </div>
                <div class="morpheme-cell">ƛ’əlayʔ
                </div>
                <div class="morpheme-cell">ʔə
                </div>
                <div class="morpheme-cell">huyu
                </div>
                <div class="morpheme-cell">gʷə=s=lə=saxʷəb•abac=s
                </div>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 26ch 8ch 8ch 7ch 7ch 16ch 8ch 7ch 7ch 10ch 5ch 9ch 28ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past=lined.up•
                    </span>
                    <span class="grammatical-term">cnn•canoe
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">sconj
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">but
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">neg
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">yet
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">past=be.there
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">but
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">neg
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">yet
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">canoe
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">pr
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">finish
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">sbj=
                    </span>
                    <span class="grammatical-term">nm=
                    </span>
                    <span class="grammatical-term">prog=jump•body=
                    </span>
                    <span class="grammatical-term">3po
                    </span>
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">They lined up the
              canoes. There must have been some shovel-nosed canoes
                but they could not yet jump over them.
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
          <div class="line-wrapper" id="10">
            <div class="line-sidebar">  10)
              <button onclick="playSample(10, 48461, 53237)">🔈
              </button>
              <!-- sidebarHookLine_10 -->
            </div>
            <div class="line-content" id="10">
              <div class="line">
                <span class="speech-tier">ʔal kʷi sxʷəʔaʔxʷəʔils
                  (lə)ləcəbagʷiɬil tiʔəʔ ʔəsx̌ək’ʷtxʷ əlgʷəʔ ƛ’əlayʔ
                </span>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 6ch 6ch 20ch 26ch 8ch 22ch 9ch 10ch ;">
                <div class="morpheme-cell">ʔal
                </div>
                <div class="morpheme-cell">kʷi
                </div>
                <div class="morpheme-cell">s=xʷəʔaʔxʷəʔ–il=s
                </div>
                <div class="morpheme-cell">(lə)lə=cəb•a•gʷiɬ–il
                </div>
                <div class="morpheme-cell">tiʔəʔ
                </div>
                <div class="morpheme-cell">ʔəs–x̌ək’ʷ–txʷ
                </div>
                <div class="morpheme-cell">əlgʷəʔ
                </div>
                <div class="morpheme-cell">ƛ’əlayʔ
                </div>
              </div>
              <div class="morpheme-tier"
                   style="grid-template-columns: 6ch 6ch 20ch 26ch 8ch 22ch 9ch 10ch ;">
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">at
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">rem
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">nm
                    </span>=swift–
                    <span class="grammatical-term">inch=
                    </span>
                    <span class="grammatical-term">3po
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">prog=two•
                    </span>
                    <span class="grammatical-term">cnn•canoe–
                    </span>
                    <span class="grammatical-term">inch
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">prox
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">stat–overturned–
                    </span>
                    <span class="grammatical-term">ecs
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">
                    <span class="grammatical-term">pl
                    </span>
                  </div>
                </div>
                <div class="morpheme-cell">
                  <div class="morpheme-gloss">canoe
                  </div>
                </div>
              </div>
              <div class="freeTranslation-tier">To become swift they
                had two canoes overturned.
              </div>
              <div class="annotationDiv">
              </div>
            </div>
          </div>
            </div id="textDiv">
          </div id="mainDiv">
  
  <script src="slexilNew.js"></script>

</body>
</html>
