<!DOCTYPE html> 
<html lang="en"> 
  
<head>
  <title>one full page div</title>
  <script src='https://slexilData.artsrn.ualberta.ca/includes/jquery-3.6.3.min.js'></script>
  <style>
    #mainDiv{
       display: flex;
       flex-wrap: nowrap;
       flex-direction: column;
		 row-gap: 10px;
       height: calc(100vh - 20px);
       border: 1px solid magenta;
       }
	 #controlsDiv{
       background-color: Cornsilk;
		 flex: 1 1 auto;
		 border: 2px solid orange;
	    }
	 #mediaPlayerDiv{
		 background-color: lightcyan;
       min-height: 250px;
       flex: 0 0 content;
		 flex-direction: column;
		 // flex: 1 1 content;
		 border: 2px solid blue;
		 flex-grow: 1;
       }
	 #textDiv{
       background-color: Khaki;
		 flex: 3 1 auto;
		 border: 2px solid brown;
		 padding: 100px;
	    overflow-y: scroll;
		 font-size: 24px;
		 flex-shrink: 2;
       }
    .box {
      }

  </style>
</head>
<body>
  <div id="mainDiv">

    <div id="controlsDiv" class="row">
      controls
	 </div>

    <div id="mediaPlayerDiv">
      <p> video or audio player </p>
      </div>

    <div id="textDiv">
Life and career
Geertz was born in San Francisco on August 23, 1926. He served in the US Navy in World War II from 1943 to 1945. Geertz received a bachelor of arts in philosophy from Antioch College at Yellow Springs, Ohio in 1950 and a doctor of philosophy in anthropology from Harvard University in 1956.[3]
<p>
When in Harvard University, he studied at the Department of Social Relations with an interdisciplinary program led by Talcott Parsons. Geertz worked with Parsons, as well as Clyde Kluckhohn, and was trained as an anthropologist. Geertz conducted his first long-term fieldwork together with his wife, Hildred, in Java, Indonesia, a project funded by the Ford Foundation and the Massachusetts Institute of Technology. He also studied the religious life of a small, upcountry town for two-and-a-half years, living with a railroad laborer's family.[4]: 8–9 
<p>
After finishing his thesis, Geertz returned to Indonesia, in Bali and Sumatra,[4]: 10  after which he would receive his PhD in 1956 with a dissertation entitled Religion in Modjokuto: A Study of Ritual Belief In A Complex Society.[5]
<p>
Throughout his life, Geertz received honorary doctorate degrees from around fifteen colleges and universities, including Harvard, Cambridge, and the University of Chicago; as well as awards such as the Association for Asian Studies' (AAS) 1987 Award for Distinguished Contributions to Asian Studies.[6] He was a member of the American Academy of Arts and Sciences,[7] the American Philosophical Society,[8] and the United States National Academy of Sciences.[9] Following his divorce from anthropologist Hildred Geertz, his first wife, he married Karen Blu, another anthropologist.[10]
<p>
In 1970, Geertz left Chicago to become professor of social science at the Institute for Advanced Study in Princeton, New Jersey from 1970 to 2000, then as emeritus professor. In 1973, he published The Interpretation of Cultures, which collected essays Geertz had published throughout the 1960s. That became Geertz's best-known book and established him not just as an Indonesianist but also as an anthropological theorist. In 1974, he edited the anthology Myth, Symbol, Culture that contained papers by many important anthropologists on symbolic anthropology. Geertz produced ethnographic pieces in this period, such as Kinship in Bali (1975), Meaning and Order in Moroccan Society (1978; written collaboratively with Hildred Geertz and Lawrence Rosen) and Negara (1981).

Later life
<p>
From the 1980s to his death, Geertz wrote more theoretical and essayistic pieces, including book reviews for the New York Review of Books. As a result, most of his books of the period are collections of essays—books including Local Knowledge (1983), Available Light (2000), and Life Among The Anthros (2010), which was published posthumously. He also produced a series of short essays on the stylistics of ethnography in Works and Lives (1988), while other works include the autobiographical After The Fact (1995).
<p>

Geertz conducted extensive ethnographic research in Southeast Asia and North Africa. This fieldwork was the basis of Geertz's famous analysis of the Balinese cockfight among others. While holding a position in Chicago in the 1960s, he directed a multidisciplinary project titled Committee for the Comparative Studies of New Nations. As part of the project, Geertz conducted fieldwork in Morocco on "bazaars, mosques, olive growing and oral poetry,"[4]: 10  collecting ethnographic data that would be used for his famous essay on thick description.[11]
<p>

Geertz contributed to social and cultural theory and is still influential in turning anthropology toward a concern with the frames of meaning within which various peoples live their lives. He reflected on the basic core notions of anthropology, such as culture and ethnography.
<p>

He died of complications following heart surgery on October 30, 2006.[10] At the time of his death, Geertz was working on the general question of ethnic diversity and its implications in the modern world.
<p>

Main ideas, contributions, and influences
<p>

Cockfight in Bali
<p>
Geertz's often-cited essay "Deep Play: Notes on the Balinese Cockfight"[12] is a classic example of thick description, a concept adopted from the British philosopher Gilbert Ryle which comes from ordinary language philosophy. Thick description is an anthropological method of explaining with as much detail as possible the reason behind human actions.[13] Many human actions can mean many different things, and Geertz insisted that the anthropologist needs to be aware of this. The work proved influential amongst historians, many of whom tried to use these ideas about the 'meaning' of cultural practice in the study of customs and traditions of the past.
<p>

Another of Geertz's philosophical influences is that of Ludwig Wittgenstein's post-Tractatus philosophy, from which Geertz incorporates the concept of family resemblances into anthropology. Geertz would also introduce anthropology to the "umwelt-mitwelt-vorwelt-folgewelt" formulation of Alfred Schütz's phenomenology,[14]: 367n  stressing that the links between the "consociate", "contemporary", "predecessor", and "successor" that are commonplace in anthropology derive from this very formulation.[2]: 68 
<p>

At the University of Chicago, Geertz became a champion of symbolic anthropology, a framework which gives prime attention to the role of symbols in constructing public meaning. In his seminal work The Interpretation of Cultures (1973), Geertz outlined culture as "a system of inherited conceptions expressed in symbolic forms by means of which men communicate, perpetuate, and develop their knowledge about and attitudes toward life."[12]: 89 
<p>

He was one of the earliest scholars to see that the insights provided by common language, philosophy and literary analysis could have major explanatory force in the social sciences.[12] Geertz aimed to provide the social sciences with an understanding and appreciation of “thick description.” Geertz applied thick description to anthropological studies, particularly to his own 'interpretive anthropology', urging anthropologists to consider the limitations placed upon them by their own cultural cosmologies when attempting to offer insight into the cultures of other people.[11]: 5  He produced theory that had implications for other social sciences; for example, Geertz asserted that culture was essentially semiotic in nature, and this theory has implications for comparative political sciences.[12]
<p>

Max Weber and his interpretative social science are strongly present in Geertz's work. Drawing from Weber, Geertz himself argues for a “semiotic” concept of culture:[12]
<p>

Believing…that man is an animal suspended in webs of significance he himself has spun…I take culture to be those webs, and the analysis of it to be therefore not an experimental science in search of law but an interpretative one in search of meaning. It is explication I am after, construing social expression on their surface enigmatical. (p.5)
<p>

Geertz argues that to interpret a culture's web of symbols, scholars must first isolate its elements, specifying the internal relationships among those elements and characterize the whole system in some general way according to the core symbols around which it is organized, the underlying structures of which it is a surface expression, or the ideological principles upon which it is based. It was his view that culture is public, because “meaning is,” and systems of meanings are what produce culture, because they are the collective property of a particular people.[12] We cannot discover the culture's import or understand its systems of meaning, when, as Wittgenstein noted, “we cannot find our feet with them.”[12] Geertz wants society to appreciate that social actions are larger than themselves:[12]
<p>

It is not against a body of uninterrupted data, radically thinned descriptions, that we must measure the cogency of our explications, but against the power of the scientific imagination to bring us into touch with the lives of strangers. (p.18)
<p>

In seeking to converse with subjects in foreign cultures and gain access to their conceptual world, this is the goal of the semiotic approach to culture.[12] Cultural theory is not its own master; at the end of the day we must appreciate, that the generality “thick description” contrives to achieve, grows out of the delicacy of its distinctions, not the sweep of its abstraction.[12] The essential task of theory-building here is not to codify abstract regularities, but to make thick description possible; not to generalize across cases, but to generalize within them.[12]

	 </div>

  </div>
</body>
</html>
