<!DOCTYPE html> 
<html lang="en"> 
  
<head>
  <meta charset="utf-8"/>
  <title>videoTop</title>
  <script src='https://slexilData.artsrn.ualberta.ca/includes/jquery-3.6.3.min.js'></script>
  <link rel="stylesheet" href="slexilTest.css">


</head>
<body>
  <div id="mainDiv">
    
	 <!-- for audio, the showOtherControls button is placed to its right -->
	 <!-- for video, that button is placed above, right of  the size controller -->
	 
    <div id="mediaPlayerAndControlsDiv">
       <div id="videoSizeControllerDiv">
          <form id="videoSizeSelectorForm">
             <label for="videoSizeSelector" id="videoSizeSelectorLabel">Video Size &nbsp;</label>
             <input type="range" min="50" max="800" value="150"
                    step="10" id="videoSizeSelector" name="videoSizeSelector" />
              </form>
          <button id="showHideOtherControlsButton">Show Other Controls</button>
          </div id="videoSizeControllerDiv">

       <div id="playerDivWithOptionalButton">
             <video class="player" id="videoPlayer"
                    src="https://slexildata.artsrn.ualberta.ca/tlingit/48Carcross.m4v"
                   controls>
               </video>
			 </div id="playerDivWithOptionalButton">
       </div id="mediaPlayerAndControlsDiv">

    <div id="otherControlsDiv">
       <form id="playbackSpeedControllerForm">
          <label for="speedSelector" id="playbackSpeedLabel">Playback Speed &nbsp;</label>
          <input type="range" min="0.25" max="1.25" value="1.0" step="0.25" id="speedSelector" name="speedSelector" />
          <div id="playbackSpeedReadout">1.0</div>
		 </form>
		 
       <form id="printSizeControllerForm">
          <label for="fontSizeSlider" id="printSizeLabel">Print Size &nbsp;</label>
          <input type="range" min="0.2" max="4.0" value="1.4"
					  step="0.1" id="fontSizeSlider" name="fontSizeSlider" />
			 </form>

       <div id="tierControlsDiv">
         <div id="tiersLabelDiv">Tiers: </div>
             <div id="tiersCheckBoxesDiv">
                <form action="">
                   <div>
                      <input type="checkbox" class="tierToggleCheckbox" id="speech-toggle" value="speech" checked name="speech-toggle" />speech
                      <input type="checkbox" class="tierToggleCheckbox" id="translation-toggle" value="translation" checked name="translation-toggle" />translation
                      <input type="checkbox" class="tierToggleCheckbox" id="morphemes-toggle" value="morphemes"  name="morphemes-toggle" />analysis
                      </div>
                   </form>
                </div id="tiersCheckBoxesDiv">
          </div id="tiersControlDiv">
    </div id="otherControlsDiv">

	 </div id="mainDiv">
</body>
</html>
