audioextractor==0.0.3
beautifulsoup4==4.12.2
blinker==1.7.0
bs4==0.0.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
dash==2.16.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-table==5.0.0
dash_uploader==0.6.0
elementpath==4.1.5
Flask==3.0.2
idna==3.6
importlib_metadata==7.0.2
itsdangerous==2.1.2
Jinja2==3.1.3
lxml==4.9.3
MarkupSafe==2.1.5
nest-asyncio==1.6.0
numpy==1.26.2
packaging==24.0
pandas==2.1.3
plotly==5.20.0
pycparser==2.21
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
retrying==1.3.4
six==1.16.0
soundfile==0.12.1
soupsieve==2.5
tenacity==8.2.3
typing_extensions==4.10.0
tzdata==2023.3
urllib3==2.2.1
Werkzeug==3.0.1
xmlschema==2.5.0
yattag==1.15.2
youtube-dl==2021.12.17
zipp==3.18.1
