audioextractor
beautifulsoup4
blinker
bs4
certifi
cffi
charset-normalizer
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-iconify
dash-table
dash_uploader
elementpath
Flask
idna
importlib_metadata
itsdangerous
Jinja2
lxml
MarkupSafe
nest-asyncio
numpy
packaging
pandas
plotly
pycparser
python-dateutil
python-magic
pytz
PyYAML
requests
retrying
six
soundfile
soupsieve
tenacity
typing_extensions
tzdata
urllib3
Werkzeug
xmlschema
yattag
youtube-dl
zipp
